# Dependências
/node_modules
/.pnp
.pnp.*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testes
/coverage

# Next.js
/.next/
/out/

# Arquivos gerados
/dist/
/outputs/
/work/
/.wrangler/
/.sites-runtime/
/app/generated/prisma

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Permite enviar o modelo sem senhas
!.env.example

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Certificados e arquivos privados
*.pem
*.keyx